.browse-devs {
  &__filter-toggle {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 2rem;
      font-size: 2rem;
      color: $color-grey-dark-2;
    }

    & > :nth-child(2) {
      font-weight: 400;
      font-size: 2.2rem;
      color: $color-grey-dark-4;
      transition: all 0.3s;
      cursor: pointer;
      margin-right: 0.5rem;
      position: relative;
      z-index: 10;

      &:hover {
        color: $color-primary;

        & + svg {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    & svg {
      transition: all 0.5s;
      opacity: 0;
      transform: translateX(-4rem);
      position: relative;
      z-index: 9;
    }
  }
}
