.login-register {
  width: 75vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  @extend %gradient-background--abstract-2;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.25);
  @extend %flex-center;
  transform: translateY(-1vh);

  @include respond(bp-larger) {
    width: 80vw;
  }

  @include respond(bp-large) {
    width: 85vw;
  }

  @include respond(bp-medium) {
    width: 90vw;
  }

  @include respond(bp-smaller) {
    width: 95vw;
  }

  &__forms {
    width: 100%;
    display: flex;
    align-items: center;

    & > * {
      padding: 2rem;
      flex-basis: 50%;
      transition: all 0.5s ease-in-out;

      @include respond(bp-smallest) {
        padding: 1rem;
      }
    }

    &--login {
      opacity: 0;
      transform: translateX(-100%);

      &--active {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    &--register {
      opacity: 0;
      transform: translateX(100%);

      &--active {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }

  &__overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    text-align: center;
    color: $color-grey-light-1;
    transition: all 0.5s ease-in-out;
    @extend %gradient-background--primary;

    &--login {
      left: 50%;
    }

    &--register {
      left: 0%;
    }

    & > * {
      @extend %abs-center;
      transition: all 0.5s ease-in-out;
      width: 80%;

      @include respond(bp-smallest) {
        width: 90%;
      }
    }

    &--register-content {
      transform: translate(450%, -50%);

      &--active {
        transform: translate(-50%, -50%);
      }
    }

    &--login-content {
      transform: translate(-450%, -50%);

      &--active {
        transform: translate(-50%, -50%);
      }
    }
  }
}
