.user {
  height: 95vh;
  width: 97vw;
  border-radius: 10px;
  box-shadow: $box-shadow--1;
  @extend %gradient-background--abstract-2;

  display: flex;

  &__profile {
    flex-basis: 15%;
    background-color: $color-grey-dark-5;
  }

  &__main {
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
  }

  &__content {
    min-height: calc(100% - 6rem);
  }
}
