.user {
  height: 90vh;
  width: 95vw;
  border-radius: 10px;
  box-shadow: $box-shadow--1;
  @extend %gradient-background--abstract-2;

  display: flex;

  &__profile {
    flex-basis: 17%;
    background-color: $color-grey-dark-4;
  }

  &__main {
    flex-basis: 83%;
    display: flex;
    flex-direction: column;
  }

  &__content {
    min-height: calc(100% - 8rem);
  }
}
