.fade-in {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 300ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition: all 300ms;
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}