*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;

  @include respond(bp-big-desktop) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(bp-largest) {
    font-size: 59.375%; // 1rem = 9.5px
  }

  @include respond(bp-larger) {
    font-size: 56.25%; // 1rem = 9px;
  }

  @include respond(bp-large) {
    font-size: 53.125%; // 1rem = 8.5px
  }

  @include respond(bp-medium) {
    font-size: 50%; // 1rem = 8px
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @extend %page-center;
  @extend %gradient-background--abstract-1;
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-white;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

select {
  text-align: center;
  text-align-last: center;
}

option {
  text-align: left;
}

textarea {
  resize: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-primary-light;
}
