@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: $color-grey-light-1;
}

.text-gradient {
  background-image: linear-gradient(
    90deg,
    $color-primary-light,
    $color-primary
  );
  background-clip: text;
  color: transparent;
}

.heading-primary {
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;

  @include respond(bp-medium) {
    font-size: 7rem;
  }

  @include respond(bp-smaller) {
    font-size: 6.4rem;
  }

  @include respond(bp-smallest) {
    font-size: 5rem;
  }
}

.font-megrim {
  font-family: "Megrim", sans-serif;
}

.heading-secondary {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.15rem;

  @include respond(bp-smaller) {
    font-size: 3.4rem;
  }

  @include respond(bp-smallest) {
    font-size: 3rem;
  }

  &--smaller {
    font-size: 3rem !important;
  }
}

.heading-tertiary {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-transform: uppercase;

  @include respond(bp-smaller) {
    font-size: 2.6rem;
  }

  @include respond(bp-smallest) {
    font-size: 2.4rem;
  }
}

.text-primary {
  font-size: 1.6rem;
}

.text-secondary {
  font-size: 1.3rem;
}

.fw-light {
  font-weight: 300 !important;
}
