.ta-center {
  text-align: center;
}

.flex {
  display: flex;

  &--center {
    justify-content: center;
  }

  &--column-center {
    flex-direction: column;
    align-items: center;
  }

  &--abs-center {
    justify-content: center;
    align-items: center;
  }
}

.ma-bt-sm {
  margin-bottom: 1.5rem !important;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-bt-xlg {
  margin-bottom: 4.5rem !important;
}

.ma-y-sm {
  margin: 1.5rem 0 !important;
}

.pd-y-sm {
  padding: 1.5rem 0 !important;
}

.fc-danger {
  color: $color-danger !important;
}

.fc-primary {
  color: $color-primary !important;
}

.fc-dark {
  color: $color-grey-dark-2;
}

.fc-darker {
  color: $color-grey-dark-3;
}

.fc-darkest {
  color: $color-grey-dark-4;
}

.fw-medium {
  font-weight: 400;
}

.link-style {
  text-decoration: none;
}

.abs-center {
  @extend %abs-center;
}

.invisible {
  display: none;
}

.rotate {
  animation: 1s infinite rotate;
}
